@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: max-content;
}

header {
    display: flex;
    flex-direction: column;
    height: 15vh;
    width: 100%;
}

header .header {
    width: 100%;
    height: 60%;
    background: linear-gradient(188deg, #74B844, #519382, #458697, #3271b9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw 0 3vw;
}

header .header .cadastro {
    width: max-content;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 1rem;
    color: white;
    font-size: calc(0.45rem + 0.5vw);
    padding: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in 0.2s;
}

header .header .cadastro:hover {
    background-color: #2B71B6;
    border: 2px solid #00000050;
    scale: 1.05;
}

header .subHeader {
    width: 100%;
    height: 40%;
    background-color: #F2F3F5;
}

header .subHeader ul {
    margin: auto;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

header .subHeader ul li {
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}

header .subHeader ul li:hover {
    color: #2B71B6;
}

header .subHeader ul li a {
    text-decoration: none;
    color: #111;
}

/* Main */

main {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxVerCode {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.boxVerCode form {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxVerCode form input {
    width: 80%;
    padding: 10px;
    border-radius: 15px;
    font-size: calc(0.4rem + 0.4vw);
    margin-bottom: 3%;
}

.boxVerCode form button{
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(190deg, #74B844, #519382, #458697, #2B71B6);
    border: none;
    color: white;
    font-size: calc(0.6rem + 0.4vw);
    font-weight: 500;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.boxVerCode form button:hover{
    scale: 1.03;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.boxVerCode form label {
    font-size: calc(0.6rem + 0.4vw);
    align-self: flex-start;
    margin-left: 12%;
}

.boxVerCode button{
    width: 50%;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(190deg, #74B844, #519382, #458697, #2B71B6);
    border: none;
    color: white;
    font-size: calc(0.6rem + 0.4vw);
    font-weight: 500;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.boxVerCode button:hover{
    scale: 1.03;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
