:root {
    --primary: #74B844!important;
}
.bg-primary,
.btn-primary{
    background-color: var(--primary)!important;
}
.btn-primary:hover,
.btn-primary:focus,
.bg-primary:hover,
.bg-primary:focus{
    background-color: var(--primary)!important;
}
.text-primary{
    color: var(--primary)!important;
}
.border-primary{
    border-color: var(--primary)!important;
    color: var(--primary)!important;
}
.border-primary:hover{
    background-color: rgba(116, 184, 68, 0.2)!important;
}