.boxMain {
    width: 100%;
    height: 85%;
}

header {
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    width: 100%;
}

.boxInfomacoes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.titleInfoP {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleInfoP h2 {
    font-size: calc(0.8rem + 0.8vw);
}

.inputsInfo {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.inputsInfo input {
    width: 65%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.boxInfoP {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.boxDocuments {
    width: 50%;
    height: 50%;
}

.inputDocument {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inputDocument input {
    width: 65%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

/* CONFIGURACAO ENVIAR ARQUIVOS */

.boxSendDocuments {
    width: 50%;
    height: 50%;
}

.boxSendDocuments form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.file-info {
    width: 80%;
    display: none;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
    padding: 40px;
}

.boxUpload {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}


label {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    font-size: calc(0.5rem + 0.5vw);
    transition: 0.3s;
}

label:hover {
    background-color: #2B6FAC;
    scale: 1.03;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type="file"] {
    display: none;
    /* Esconde o input */
}

button[type="submit"] {
    background-color: #2B6FAC;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-size: calc(0.5rem + 0.5vw);
    transition: 0.3s;
}

button[type="submit"]:hover {
    scale: 1.03;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.remove-file {
    color: #111;
    border: none;
    width: 48px;
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-left: 10px;
    transition: background-color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.remove-file:hover {
    background-color: #222222;
    color: white;
}

/* Config save info */


.boxSaveInfos {
    width: 50%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxSaveInfos button{
    width: 40%;
    height: 50%;
    background-color: #007bff;
    color: white;
    font-size:calc(0.6rem + 0.5vw);
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.3s;
}

.boxSaveInfos button:hover{
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.boxSaveInfosMobile{
    display: none;
}
.boxSaveInfosWide{
    display: flex;
}
@media screen and (max-width:1600px){
    .boxSaveInfosMobile{
        display: none!important;
    }
    .boxSaveInfosWide{
        display: flex;
    }
    .boxSaveInfos {
        width: 50%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .boxSaveInfos button{
        width: 60%;
        height: 50%;
        background-color: #007bff;
        color: white;
        font-size:calc(0.6rem + 0.5vw);
        border-radius: 15px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transition: 0.3s;
    }
    
    .boxSaveInfos button:hover{
        scale: 1.05;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}
@media screen and (max-width:1200px){
    .boxSaveInfosMobile{
        display: none!important;
    }
    .boxSaveInfosWide{
        display: flex;
    }
    .boxSaveInfos {
        width: 50%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-wrap: nowrap;
    }
    
    .boxSaveInfos button{
        width: 70%;
        height: 50%;
        background-color: #007bff;
        color: white;
        font-size:calc(0.6rem + 0.5vw);
        border-radius: 15px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        transition: 0.3s;
    }
    
    .boxSaveInfos button:hover{
        scale: 1.05;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .boxUpload{
        flex-direction: column;
    }
    .boxUpload label{
        max-width: 70%;
    }
    .boxUpload button{
        margin-top: 1vh;
    }
}
@media screen and (max-width:600px){

    .boxUpload{
        height: max-content;
    }
    .boxSendDocuments {
        height: max-content;
    }
    .boxSendDocuments form {
        height: max-content;
    }
    .boxInfoP {
        height: max-content;
    }
    .boxDocuments {
        height: max-content;
    }
    .inputDocument {
        height: max-content;
    }
    .boxMain {
        height: max-content;
    }
    .boxInfomacoes {
        height: max-content;
    }
    .titleInfoP {
        height: max-content;
    }
    .inputsInfo {
        height: max-content;
    }
    .inputsInfo input{
        margin-top: 3%;
    }
    
    .inputDocument input{
        margin-top: 3%;
    }
    .boxSaveInfosMobile{
        display: flex!important;
    }
    .boxSaveInfosWide{
        display: none;
    }
    .boxInfomacoes {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .boxInfoP {
        width: 100%;
        height: 100%;
        margin-top: 5%;
    }
    .boxSaveInfos {
        width: 100%;
        height: 70%;
        margin-top: 10%;
    }
    .boxDocuments {
        width: 100%;
        height: 100%;
        margin-top: 10%;
    }
    .boxSendDocuments {
        width: 90%;
        margin-left: 5%;
        order: 4;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
