@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif!important;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.img-bg {
    opacity: 0.4;
    position: absolute;
    width: 50%;
    height: 70%;
    left: 10%;
    top: 30%;
    object-fit: contain; object-position: 0% 0%;
    z-index: 0;
}

.header{
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
    background: linear-gradient(15deg, rgba(43,113,182,1) 0%, rgba(116,184,68,1) 85%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.sidebar{
  width: 12%;
}
.mainContent{
  margin-left: 12%;
}
.sidebarRevealer{
  display: none;
}
@media screen and (max-width:2400px) {
  .sidebar{
    width: 13%;
  }
  .mainContent{
    margin-left: 13%;
  }
}
@media screen and (max-width:2200px) {
  .sidebar{
    width: 15%;
  }
  .mainContent{
    margin-left: 15%;
  }
}
@media screen and (max-width:2000px) {
  .sidebar{
    width: 16%;
  }
  .mainContent{
    margin-left: 16%;
  }
}
@media screen and (max-width:1740px) {
  .sidebar{
    width: 18%;
  }
  .mainContent{
    margin-left: 18%;
  }
}
@media screen and (max-width:1550px) {
  .sidebar{
    width: 20%;
  }
  .mainContent{
    margin-left: 20%;
  }
}
@media screen and (max-width:1400px) {
  .sidebar{
    width: 22%;
  }
  .mainContent{
    margin-left: 22%;
  }
}
@media screen and (max-width:1270px) {
  .sidebar{
    width: 24%;
  }
  .mainContent{
    margin-left: 24%;
  }
}

@media screen and (max-width:1150px) {
  .sidebar{
    width: 26%;
  }
  .mainContent{
    margin-left: 26%;
  }
}
@media screen and (max-width:1060px) {
  .sidebar{
    width: 28%;
  }
  .mainContent{
    margin-left: 28%;
  }
}
@media screen and (max-width:970px) {
  .sidebar{
    width: 30%;
  }
  .mainContent{
    margin-left: 30%;
  }
}
@media screen and (max-width:900px) {
  .sidebar{
    display: none;
  }
  .mainContent{
    margin-left: 0%;
  }
  .sidebarRevealer{
    display: inline;
  }
}
@media screen and (max-width:550px) {
  .header{
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 3%;
  }
}
@media screen and (max-width:350px) {
  .header div p{
    font-size: 1.2rem!important;
  }
}