@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none!important;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: max-content;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
    width: 100%;
}

header .header {
    width: 100%;
    height: 60%;
    background: linear-gradient(188deg, #74B844, #519382, #458697, #3271b9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw 0 3vw;
}

header .header .cadastro {
    width: max-content;
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 1rem;
    color: white;
    font-size: calc(0.45rem + 0.5vw);
    padding: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in 0.2s;
}

header .header .cadastro:hover {
    background-color: #2B71B6;
    border: 2px solid #00000050;
    scale: 1.05;
}

header .subHeader {
    width: 100%;
    height: 40%;
    background-color: #F2F3F5;
}

header .subHeader ul {
    margin: auto;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

header .subHeader ul li {
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
}

header .subHeader ul li:hover {
    color: #2B71B6;
}

header .subHeader ul li a {
    text-decoration: none;
    color: #111;
}

main {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Configuracoes banner Swiper*/

.bannerBox {
    width: 100%;
    height: 80vh;
    background-color: transparent;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-container {
    width: 80%;
    height: 80%;
    margin: auto;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Fim configuracao Banner */

/* About us */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #74B844;
}
.aboutRow {
    width: 80%;
}

/* Configuracao beneficios */

.beneficios {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.beneficios .title-beneficios {
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beneficios .title-beneficios h1 {
    font-size: calc(1rem + 0.9vw);
}

.beneficios .boxCard-beneficios {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.beneficios .boxCard-beneficios .card-beneficios {
    width: 30%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    transition: 0.3s;
}

.beneficios .boxCard-beneficios .card-beneficios:hover {
    scale: 1.05;
}

.card-beneficios .titleCard-beneficios {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.titleCard-beneficios h2 {
    /* font-size: 1.2rem; */
    font-size: calc(0.45rem + 0.5vw);
    font-weight: 400;
}

.img-beneficios {
    width: 85%;
    height: 60%;
    background-color: rgb(156, 156, 156);
}

.text-beneficios {
    width: 100%;
    height: 25%;
    text-align: center;
    padding: 0 7% 0 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-beneficios p {
    font-size: calc(0.3rem + 0.5vw);
}

/* Configuracao Planos */

.planos {
    width: 100%;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #74B844;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.title-planos {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-planos h2 {
    font-size: calc(1rem + 0.9vw);
    font-weight: 500;
    color: white;
}

.boxCard-planos {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-planos {
    width: 25%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s;
}

.card-planos:hover {
    scale: 1.01;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-planos .Hcard-planos {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 25px;
}

.card-planos .Hcard-planos h3 {
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.card-planos .Hcard-planos h4 {
    color: rgb(0, 0, 0);
    font-size: calc(0.4rem + 0.4vw);
    font-weight: 400;
}

.card-planos .contentCard-planos {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-planos .contentCard-planos ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.card-planos .contentCard-planos ul li {
    color: black;
    font-size: calc(0.5rem + 0.4vw);
}

.card-planos .buttonCard-planos {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-planos .buttonCard-planos button {
    width: 70%;
    height: 60%;
    background: linear-gradient(190deg, #74B844, #519382, #458697, #2B71B6);
    border-radius: 12px;
    color: white;
    transition: 0.3s;
    border: none;
}

.card-planos .buttonCard-planos button:hover {
    scale: 1.05;
}

/* Configuracoes duvidas */

.duvidas {
    width: 100%;
    max-height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.title-duvidas {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.title-duvidas h2 {
    font-size: calc(1rem + 0.9vw);
    color: #000000;
}

.boxDuvidas {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-duvidas {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-duvidas button {
    width: 100%;
    background-color: transparent;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #111;
    display: flex;
    justify-content: space-between;
    font-size: calc(0.5rem + 0.5vw);
}

.textDrop {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.6s ease, opacity 0.6s ease;
}

.textDrop p {
    font-size: calc(0.5rem + 0.5vw);
    text-align: justify;
}

.textDrop.active {
    max-height: max-content;
    opacity: 1;
}

/* Config AD */

.ad {
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background: linear-gradient(188deg, #74B844, #519382, #458697, #3271b9);
}

.ad h2 {
    font-size: calc(0.8rem + 1vw);
    font-weight: 500;
    margin-bottom: 1vh;
    text-align: center;
}

.ad h3 {
    font-size: calc(0.4rem + 0.6vw);
    font-weight: 400;
    margin-bottom: 3vh;
    text-align: center;
}

.ad a {
    width: calc(15% + 30px);
    background-color: rgb(255, 255, 255);
    padding: 1.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #111111;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    font-size: calc(0.5rem + 0.5vw);
    font-weight: 500;
    text-align: center;
    transition: ease-out 0.3s;
}

.ad a:hover {
    scale: 1.03;
}

/* Config Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    background-color: #F2F3F5;
    color: #111;
}

.opts-footer {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;

}

.opts-footer ul {
    width: 20%;
    height: 100%;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: start;
    padding-top: 40px;
    flex-direction: column;
}

.opts-footer ul li {
    margin: 0.7vh;
    font-size: calc(0.45rem + 0.5vw);
    cursor: pointer;
    transition: ease-in 0.3s;
}

.opts-footer ul li:hover {
    text-decoration: underline;
    color: #2B71B6;
}

.opts-footer ul li a {
    text-decoration: none;
    padding-left: 5px;
    color: #111;
}

.opts-footer ul li h3 {
    font-size: calc(0.45rem + 0.5vw);
}

.copyright-footer {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-footer h4 {
    font-size: calc(0.4rem + 0.4vw);
    font-weight: 400;
}

.dropQuestion{
    font-size: 1.3rem!important;
}

/* Media queries */

@media screen and (max-width:1600px) {
    .aboutRow {
        width: 90%;
    }
}

@media screen and (max-width:1400px) {

    /* Config planos */

    .card-planos .Hcard-planos h3 img {
        width: 24px;
        height: 24px;
    }

    .card-planos {
        width: 30%;
    }

    .dropQuestion{
        font-size: 1.1rem!important;
    }

    /*Config footer */

    .opts-footer ul li img {
        width: 18px;
        height: 18px;
    }
}

@media screen and (max-width:1200px) {
.beneficios {
    width: 100%;
    height: max-content;
}

.beneficios .title-beneficios h1 {
    font-size: calc(1.2rem + 1vw);
}

.beneficios .boxCard-beneficios {
    width: 90%;
    height: 90%;
    flex-direction: column;
}

.beneficios .boxCard-beneficios .card-beneficios {
    width: 100%;
    height: 50vh;
    margin: 20px;
    flex-direction: column;
}

.titleCard-beneficios h2 {
    font-size: calc(0.7rem + 0.6vw);
}

.img-beneficios {
    height: 45;
}

.text-beneficios p {
    font-size: calc(0.7rem + 0.6vw);
}
/* Configuracao Planos */

.planos {
    width: 100%;
}

.title-planos {
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-planos h2 {
    font-size: calc(1.2rem + 1vw);
    font-weight: 500;
    color: white;
}

.boxCard-planos {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-planos {
    width: 85%;
    margin: 20px;
}

.card-planos .Hcard-planos h3 {
    font-size: calc(0.8rem + 0.7vw);
}

.card-planos .Hcard-planos h4 {
    color: rgb(0, 0, 0);
    font-size: calc(0.6rem + 0.6vw);
    font-weight: 400;
}

.card-planos .contentCard-planos ul li {
    font-size: calc(0.6rem + 0.6vw);
}
/* Configuracoes duvidas */
.duvidas {
    margin-bottom: 10vh;
}

.title-duvidas {
    width: 100%;
    height: 10%;
}

.title-duvidas h2 {
    font-size: calc(1.2rem + 1vw);
}

.boxDuvidas {
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textDrop {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.6s ease, opacity 0.6s ease;
}

.textDrop p {
    font-size: calc(0.5rem + 0.6vw);
    text-align: justify;
}
.ad {
    width: 100%;
    height: 30vh;
    border-radius: 0;
}

.ad h2 {
    font-size: calc(1rem + 1vw);
}

.ad h3 {
    font-size: calc(0.5rem + 0.6vw);
}

.ad a {
    width: calc(50% + 30px);
    background-color: rgb(255, 255, 255);
    padding: 1.8vh;
    font-size: calc(0.6rem + 0.6vw);
}
}

@media screen and (max-width:860px) {

    header .subHeader ul {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    /* Configuracoes banner Swiper*/
    swiper-container {
        width: 95%;
        height: 80%;
    }
    .bannerBox{
        height: 60vh;
    }
    .dropQuestion{
        font-size: 1rem!important;
    }

    /* Config Footer */

    footer {
        width: 100%;
        height: max-content;
    }

    .opts-footer {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .opts-footer ul {
        width: 100%;
        height: 100%;
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        padding-top: 40px;
        flex-direction: column;

    }

    .opts-footer ul li {
        font-size: calc(0.7rem + 0.6vw);
    }

    .opts-footer ul li a {
        text-decoration: none;
        padding-left: 5px;
        color: #111;
    }

    .opts-footer ul li h3 {
        font-size: calc(0.8rem + 0.7vw);
    }

    .copyright-footer {
        width: 100%;
        height: 8vh;
    }

    .copyright-footer h4 {
        font-size: calc(0.7rem + 0.5vw);
        font-weight: 400;
    }
}


@media screen and (max-width:426px) {

    header a img{
        width: 80%;
    }

    /* Configuracoes banner Swiper*/
    swiper-container {
        width: 95%;
        height: 80%;
    }
    .bannerBox{
        height: 30vh;
    }

    /* Fim configuracao Banner */

    /* About us */

    /* Configuracao beneficios */

    .beneficios {
        width: 100%;
        height: max-content;
    }

    .beneficios .title-beneficios h1 {
        font-size: calc(1.2rem + 1vw);
    }

    .beneficios .boxCard-beneficios {
        width: 90%;
        height: 90%;
        flex-direction: column;
    }

    .beneficios .boxCard-beneficios .card-beneficios {
        width: 100%;
        height: 50vh;
        margin: 20px;
        flex-direction: column;
    }

    .titleCard-beneficios h2 {
        font-size: calc(0.7rem + 0.6vw);
    }

    .img-beneficios {
        height: 45;
    }

    .text-beneficios p {
        font-size: calc(0.7rem + 0.6vw);
    }

    /* Configuracao Planos */

    .planos {
        width: 100%;
    }

    .title-planos {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title-planos h2 {
        font-size: calc(1.2rem + 1vw);
        font-weight: 500;
        color: white;
    }

    .boxCard-planos {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .card-planos {
        width: 85%;
        margin: 20px;
    }

    .card-planos .Hcard-planos h3 {
        font-size: calc(0.8rem + 0.7vw);
    }

    .card-planos .Hcard-planos h4 {
        color: rgb(0, 0, 0);
        font-size: calc(0.6rem + 0.6vw);
        font-weight: 400;
    }

    .card-planos .contentCard-planos ul li {
        font-size: calc(0.6rem + 0.6vw);
    }

    /* Config AD */

    .ad {
        width: 100%;
        height: 30vh;
        border-radius: 0;
    }

    .ad h2 {
        font-size: calc(1rem + 1vw);
    }

    .ad h3 {
        font-size: calc(0.5rem + 0.6vw);
    }

    .ad a {
        width: calc(50% + 30px);
        background-color: rgb(255, 255, 255);
        padding: 1.8vh;
        font-size: calc(0.6rem + 0.6vw);
    }

    /* Configuracoes duvidas */

    .duvidas {
        margin-bottom: 10vh;
    }

    .title-duvidas {
        width: 100%;
        height: 10%;
    }

    .title-duvidas h2 {
        font-size: calc(1.2rem + 1vw);
    }

    .boxDuvidas {
        width: 85%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textDrop {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.6s ease, opacity 0.6s ease;
    }

    .textDrop p {
        font-size: calc(0.5rem + 0.6vw);
        text-align: justify;
    }

    /* Config Footer */

    footer {
        width: 100%;
        height: max-content;
    }

    .opts-footer {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .opts-footer ul {
        width: 100%;
        height: 100%;
        list-style-type: none;
        text-align: center;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        padding-top: 40px;
        flex-direction: column;

    }

    .opts-footer ul li {
        font-size: calc(0.7rem + 0.6vw);
    }

    .opts-footer ul li a {
        text-decoration: none;
        padding-left: 5px;
        color: #111;
    }

    .opts-footer ul li h3 {
        font-size: calc(0.8rem + 0.7vw);
    }

    .copyright-footer {
        width: 100%;
        height: 8vh;
    }

    .copyright-footer h4 {
        font-size: calc(0.7rem + 0.5vw);
        font-weight: 400;
    }
}